
/**************/
/* Voorpagina */
/**************/

/* Hero sectie (video autoplay) */
/* les 24 november justify en align */

main:nth-of-type(1) section:nth-of-type(1) {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
    overflow: hidden;
    align-items: center;
}

section:nth-of-type(1) video {
    display: block;
    width: 100%;
    height: auto;
    
}

section:nth-of-type(1) h2 {
    position: absolute;
    font-size: 2rem;
    color: #fff;
    bottom: 20%;
    font-weight: 600;
    bottom: 40%;
    z-index: 2;
}

section:nth-of-type(1) a {
    position: absolute;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 500;
    bottom: 12%;
}

section:nth-of-type(1) a:hover {
    background-color: #cac9c9;
}


/* categorie sectie */
/* bron voor grid-template-columns: https://www.youtube.com/watch?v=br-0i3U1VCA 
waarom? omdat als het scherm verkleind (op mobiel) worden de images onder elkaar gezet
en is het oogt het beter */

main:nth-of-type(1) section:nth-of-type(2) {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: center;
    
}

section:nth-of-type(2) h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* GRID */
section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    list-style: none;
    font-size: 2rem;
    margin-bottom: 2rem;
}


section:nth-of-type(2) li article {
    position: relative;
    padding: 0;
    border-radius: 1px;
    overflow: hidden;
    
}

section:nth-of-type(2) li article img {
    width: 100%;
    display: block;
}

section:nth-of-type(2) li article a {
    position: absolute;
    bottom: 45px;
    left: 1rem;
    background: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section:nth-of-type(2) li article a:hover {
    background-color: #cac9c9;
}

/* highlight sectie*/
main:nth-of-type(1) section:nth-of-type(3) {
    position: relative;
    margin-top: 5rem;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;

}

section:nth-of-type(3) h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
   
}

section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}


section:nth-of-type(3) li {
    position: relative;
    border-radius: 1px;
    overflow: hidden;
}

section:nth-of-type(3) li img {
    width: 100%;
    display: block;
}

section:nth-of-type(3) li h3 {
    position: absolute;
    bottom: 100px;
    left: 30px;
    z-index: 3;
    font-size: 25px;
    font-weight: 350;
    color: #f9f9f9;
}

section:nth-of-type(3) li a {
    position: absolute;
    left: 30px;
    bottom: 45px;
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

section:nth-of-type(3) li a:hover {
    background-color: #cac9c9;
}


/* carrousel sectie*/
/*carrousel bron: https://codepen.io/shooft/pen/vENdvzK (flexbox oefening 4)*/

main:nth-of-type(1) section:nth-of-type(4) {
    margin-top: 5rem;
    position: relative;
    padding: 0 2rem;
    border-radius: 3px;
}

section:nth-of-type(4) h2 {
    margin-bottom: 2rem;
    text-align: left;

    font-weight: 475;
    font-size: 1.5rem;
}

section:nth-of-type(4) ul{
  display:flex;
  overflow:auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  overscroll-behavior-x:contain;
  gap: 1rem;
  
  
  scrollbar-width:thin;
  scrollbar-color:rgb(85, 85, 85) transparent;

}

section:nth-of-type(4) ul li {
  flex-basis:0 0 200px;
  flex-shrink:0;
  scroll-snap-align:center;
  list-style: none;
}

section:nth-of-type(4) li img {
    width: 380px;
    height: 320px;
    display: block;
    
}

section:nth-of-type(4) li a {
    position: relative;
    left: 30px;
    bottom: 60px;
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/*knoppen voor carousel*/

section:nth-of-type(4) button {
    position: absolute;
    background-color: #e6e6e6;
    width: 50px;
    height: 50px;


    border-radius: 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

}

section:nth-of-type(4) button:nth-of-type(1) {
  left: calc(50% - 35px);
}

section:nth-of-type(4) button:nth-of-type(2) {
  left: calc(50% + 35px);
}

section:nth-of-type(4) button::before {
  content:'';
  width: 10px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  
}


section:nth-of-type(4) button:nth-of-type(1)::before {
  transform: rotate(135deg); 
}

section:nth-of-type(4) button:nth-of-type(2)::before {
  transform: rotate(-45deg);
}

section:nth-of-type(4) li a:hover {
    background-color: #cac9c9;
}

/* bron grid-column: https://www.w3schools.com/cssref/func_repeat.php */














