/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	margin: 0;
	padding: 0;
    box-sizing:border-box;  
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #111;
    line-height: 1.6;
    background-color: #f9f9f9;
}

:root {
	--color-text:#111;
	--color-background:#eee;
}

header {
    position: sticky;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    top: 0; /*voor postion sticky*/
    z-index: 1000;
}

nav {
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    list-style: none;
    padding: 0 1rem;
}

nav h1 img {
    left: 2rem;
    width: 60px; 
    margin-top: 1rem;
    margin-left: 1.5rem;;
}

nav ul {
    display: flex;
    padding: 1rem 2rem;
    background-color: #fff;
    list-style: none;
    gap: 2rem;
    margin: 0 auto;
    padding: 0;

    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    margin: 0;
}

nav button {
  margin-left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  
}

nav button:last-of-type {
  position: relative;
  margin-left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  
}

nav button:last-of-type span {
  position: absolute;
  top: -6px;
  right: -6px;

  background: red;
  color: white;

  font-size: 0.7rem;
  font-weight: 600;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav button img {
  width: 24px;
  height: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #111;

    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*hamburger menu responsive
bron: /*bron: https://codepen.io/zagaris/pen/qBmqQEN */

.hamburger {
    background-color: transparent;
    border: none;
    color:#000;
    cursor: pointer;
    font-size: 30px;
    float: right;
    line-height: 70px;
    display: none;
}

.hamburger i {
    display: block;
    width: 30px;
    height: 3px;
    background: #111;
    position: relative;
    
}

.hamburger i::before,
.hamburger i::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #111;
    left: 0;
}

.hamburger i::before {
    top: -8px;
}

.hamburger i::after {
    top: 8px;
}

.hamburger:focus {
    outline: none;
}

.hamburger:hover {
    background-color: #4b4b4b;
}



/*media quaries voor hamburger menu*/
/*bron: https://codepen.io/zagaris/pen/qBmqQEN*/

@media (max-width: 800px) {
    
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
    }

    nav ul.show {
    display: flex;
    }

    .hamburger {
        display: block;
        order: 3;
        margin-left: auto;
        margin-top: 0rem;
    }

    nav > button:not(.hamburger) {
        order: 2;
        margin-left: auto; 
        margin-right: 0.5rem; 
    }
}

@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
        order: 3;
    }

    nav > button:not(.hamburger) {
        order: 2;
        margin-left: auto;
        margin-right: 0.5rem;
    }

    nav {
        background-color: #fff;
    }
}
/* footer */
footer {
    text-align: left;
    padding: 2rem;
    background-color: #e9e8e8;
    color: #484848;
    margin-top: 4rem;
}

footer p {
	color: #000;
}

footer ul {
	list-style: none;
}









