
/**************/
/* Voorpagina */
/**************/

/* Hero sectie (video autoplay) */
/* les 24 november justify en align */

main > section:nth-of-type(1) {
    position: relative;
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;

    height: 50vh;

    overflow: hidden;  
}

main > section:nth-of-type(1) video {
    display: block;
    width: 100%;
    height: auto;  
}

main > section:nth-of-type(1) h2 {
    position: absolute;
    color: #fff;
    bottom: 10rem;
    z-index: 2;
}

main > section:nth-of-type(1) a {
    position: absolute;

    text-decoration: none;

    bottom: 4rem;
}



/* categorie sectie */
/* bron voor grid-template-columns: https://www.youtube.com/watch?v=br-0i3U1VCA 
waarom? omdat als het scherm verkleind (op mobiel) worden de images onder elkaar gezet
en is het oogt het beter */

main > section:nth-of-type(2) {
    max-width: 1200px;

    margin: 4rem auto;

    text-align: center;   
}

main > section:nth-of-type(2) h2 {
    padding: 2rem;
}

/* GRID */
main > section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 1rem;

    list-style: none;

    margin-bottom: 2rem;
}


main > section:nth-of-type(2) li {
    position: relative;

    padding: 0;
    border-radius: 2px;

    overflow: hidden;  
}

main > section:nth-of-type(2) li  img {
    width: 100%;
    display: block;
}

main > section:nth-of-type(2) li  a {
    position: absolute;

    bottom: 2.8rem;
    left: 1rem;

    text-decoration: none;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

main > section:nth-of-type(2) li a:hover { 
    background-color: var(--color-hover);
}


/* highlight sectie*/
main > section:nth-of-type(3) {
    position: relative;

    margin-top: 5rem;
  
    border-radius: 2px;

    overflow: hidden;
}

main > section:nth-of-type(3) h2 {
    text-align: center;
    padding: 2rem;   
}

main > section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;

    max-width: 1000px;
    margin: 0 auto;
}


main > section:nth-of-type(3) li {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

main > section:nth-of-type(3) li img {
    width: 100%;
    display: block;
}

main > section:nth-of-type(3) li h3 {
    position: absolute;

    bottom: 6.25rem;
    left: 30px;

    z-index: 3;

    font-size: 25px;
    font-weight: 350;
    color: #f9f9f9;
}

main > section:nth-of-type(3) li a {
    position: absolute;

    left: 30px;
    bottom: 2.8rem;

    text-decoration: none;
}

main > section:nth-of-type(3) li a:hover { 
    background-color: var(--color-hover);
}


/* carrousel sectie*/
/*carrousel bron: https://codepen.io/shooft/pen/vENdvzK (flexbox oefening 4)*/

main > section:nth-of-type(4) {
    position: relative;
    margin: 5rem;

    border-radius: 12px;
}

main > section:nth-of-type(4) h2 {
    margin-bottom: 2rem;
    
    text-align: left;
    font-size: 1.5rem; /*ander formaat dan de h2s*/
}

main > section:nth-of-type(4) ul{
  display:flex;
  overflow:auto;

  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  overscroll-behavior-x:contain;

  gap: 1rem;
  
  scrollbar-width:thin;
  scrollbar-color:rgb(199, 199, 199) transparent;
}

main > section:nth-of-type(4) ul li {
  flex-basis: 200px;
  flex-shrink:0;

  scroll-snap-align:center;
  list-style: none;
}

main > section:nth-of-type(4) li img {
    width: 380px;
    height: 320px;
    display: block;  
}

main > section:nth-of-type(4) li a {
    position: relative;
    left: 30px;
    bottom: 3.75rem;

    background: white;
    color: black;

    padding: .6rem 1.2rem;
    border-radius: 28px;
    text-decoration: none;
}

main > section:nth-of-type(4) li a:hover { 
    background-color: var(--color-hover);
}


/*knoppen voor carousel*/

main > section:nth-of-type(4) button {
    position: absolute;
    background-color: #e6e6e6;
    width: 50px;
    height: 50px;
    


    border-radius: 28px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-of-type(4) button:nth-of-type(1) {
  left: calc(50% - 35px);
}

main > section:nth-of-type(4) button:nth-of-type(2) {
  left: calc(50% + 35px);
}

main > section:nth-of-type(4) button::before {
  content:'';

  width: 10px;
  height: 10px;

  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0; 
}


main > section:nth-of-type(4) button:nth-of-type(1)::before {
  transform: rotate(135deg); 
}

main > section:nth-of-type(4) button:nth-of-type(2)::before {
  transform: rotate(-45deg);
}



/*pre-footer*/
/* bron voor summary use: https://www.w3schools.com/tags/tag_summary.asp*/

footer > section:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 1rem 1.2rem;
}

footer > section:nth-of-type(1) h2 {
    display: none;
}

footer > section:nth-of-type(1) > section {
  display: flex;
  flex-direction: column;
}


footer > section:nth-of-type(1) ul {
    margin-bottom: 1rem;
    list-style: none;

}

footer > section:nth-of-type(1) ul li {
    padding: 0.3rem;
    margin: 0.3rem;
    list-style: none;
}

footer > section:nth-of-type(1) ul li:hover {
  text-decoration: underline;
  
}


/* media-queries (pre-footer)*/

@media (max-width: 800px) {

    footer > section:nth-of-type(1) {
        display: block;
        
    }

    footer > section:nth-of-type(1) ul {
        display: none;
    }

    footer > section:nth-of-type(1) h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;

    }

    footer > section:nth-of-type(1) h3::after {
        content: "↓";
        transition: transform 0.25s ease;
    }

    footer > section:nth-of-type(1) h3:focus + ul,
    footer > section:nth-of-type(1) h3:active + ul {
        display: block;
        transition: transform 0.25s ease;
    }

}


/* bron grid-column: https://www.w3schools.com/cssref/func_repeat.php */














